
#paper{
	position: fixed;
	background:#fff;
	border-radius: 20px;
	top: 50px;
	left: 20px;
}

#paper2{
	position: fixed;
	/*background:#00ff00;*/
	top: 110px;
	left: 50%;
	height:150px;
	width:400px;
	margin-right: -50%;
	transform: translate(-50%, -50%);

}

#mycanvas{
	position: fixed;
	left:3%;
	bottom:15%;
	height:60%;
	width:60%;
}

#body{
	background:#eee;
	}

#fontLoad{
	bottom: 10px;
	position: fixed;
	}

#fontSelect{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	position: fixed;
	top:3px;
	left: 20px;
	height:35px;
	width:100px;
	background-color: #ddd;
	border: solid 2px #eee;
	overflow: hidden;
	border-radius: 10px;
	padding-left:10px;
	padding-right:10px;
	}

#fontSelect:hover {
	background-color: #fff;
	}

#size{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	position: fixed;
	top: 3px;
	left: 130px;
	height:30px;
	width:45px;
	background-color: #ddd;
	border: solid 2px #eee;
	border-radius: 10px;
	padding-left:10px;
	}

#size:hover {
	background-color: #fff;
	}

#toggle{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	position: fixed;
	top: 3px;
	left: 230px;
	height:35px;
	background-color: #ddd;
	border: solid 2px #eee;
	border-radius: 10px;
	padding-left:10px;
	padding-right:10px;
	display:none;
	}

#toggle:hover {
	background-color: #fff;
	}

#space{
	position: fixed;
	left: 32%;
	bottom: 3%;
	height:10%;
	width:19.5%;
	background-color: #ddd;
   border-radius: 10px;
	border: solid 2px #eee;
}

#space:hover {
	background-color: #fff;
	}

#space:active {
	background-color: #ccc;
	}

#homez{
	position: fixed;
	right: 3%;
	bottom:42%;
	height:24%;
	width:11%;
	border-radius:20px;
	background-color: #FCD309;
	border: solid 2px #0A0A0A;
	}
#homez:hover {
	background-color: #fff;
	}

#homez:active {
	background-color: #ccc;
	}
	
#homexy{
	position: fixed;
	right: 3%;
	bottom:71%;
	height:24%;
	width:11%;
	border-radius:20px;
	background-color: #FF6666;
	border: solid 2px #0A0A0A;
	}
	
#homexy:hover {
	background-color: #fff;
	}

#homexy:active {
	background-color: #ccc;
	}
	
#enter{
	position: fixed;
	left: 20%;
	bottom: 3%;
	height:10%;
	width:10%;
   border-radius: 10px;
	background-color: #ddd;
	border: solid 2px #eee;
	}

#enter:hover {
	background-color: #fff;
	}

#enter:active {
	background-color: #ccc;
	}
	
#allcaps{
	position: fixed;
	left: 3%;
	bottom: 3%;
	height: 10%;
	width: 15%;
	border-radius: 10px;
	background-color: #ddd;
	border: solid 2px #eee;
	}
	
#allcaps:hover {
	background-color: #fff;
	}
	
#allcaps:active {
	background-color: #ccc;
	}
	

#submit{
	position: fixed;
	right: 3%;
	bottom: 13%;
	height:24%;
	width:11%;
	background-color: #68EC15;
    border-radius: 20px;
	border: solid 2px #0A0A0A;
	}

#submit:hover {
	background-color: #fff;
	}

#submit:active {
	background-color: #ccc;
	}

#backspace{
	position: fixed;
	left: 53.5%;
	bottom: 3%;
	width: 10%;
	height:10%;
	background-color: #ddd;
   border-radius: 10px;
	border: solid 2px #eee;
	}

#backspace:hover {
	background-color: #fff;
	}

#backspace:active {
	background-color: #ccc;
	}

.trash-icon{
	height: 50px;
	widows: 35px;
	position: fixed;
	right:35px;
	bottom: 0px;
	padding-left: 1em;
	padding-bottom: 1em;
	}

.trash-icon:hover{
	color:red
	}

